*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #414642;
}

.wrapper .sidebar{
    background: #c06114;
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}



.wrapper .sidebar ul li a{
    display: block;
    padding: 15px 30px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

span{
  font-size: 14px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


table {
    border-collapse: collapse;
    
  }
  
  table thead th {
    text-align: center;
    background: rgb(207, 199, 199);
    padding: 5px 10px;
    color: #f08127;
  }
  
  table tbody tr td {
    padding: 10px;
    background:  #e7e3e3 ;
    color: #000000;
  }
  
  
  table tbody tr td a {
    color: #e74c3c;
    text-shadow: none;
    font-weight: bold;
  }