*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #414642;
}

.wrapper .sidebar{
    background: #c06114;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}



.wrapper .sidebar ul li a{
    display: block;
    padding: 35px 30px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

