
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    
}
.container{
    /* background-color: aqua; */
    background-size: cover;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header{
    font-family: 'Bree Serif', serif;
    display: flex;
    padding: 40px;
    flex-direction: row;
    background-color: #414642;
    box-shadow: inset 0 8px 60px rgb(72, 67, 67),
                inset 0 8px 8px  rgb(41, 39, 37),
                inset 0 -4px 60px rgb(53, 46, 46);
}
.k{
    background-color: #ff7300;
    padding: 4px 8px;
    border-radius: 5px;
    text-shadow:
    1px 2px 0 rgb(60, 53, 53),
    1px 2px 0 rgb(60, 53, 53),
    1px 2px 0 rgb(60, 53, 53);
}

.name-header{
    position: absolute;
    width: 30%;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}
.name-header p{
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 15px;
    font-size: 40px;
}
.header nav{
    height: 4vh;
    display: flex;
    gap: 0 30px;
    margin-left: 75%;
}

.header nav a{
    font-size: 19px;
    text-decoration: none;
    color: rgb(218, 218, 218);
    transition: all .3s;}

.header nav a:hover{
    color: #ec700a;
}

.btn line{
    position: relative;
    width: 30px;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 3px;}
.btn{
    margin-left: 80px;
    width: 300px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 3px;
}
.btn line:hover{
    background-color: white;
}


/* ==========================
        bagian menu
========================== */
.menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 0;
    transition: all .5s;
}

.nav ul{
    display: none;

}
.menu.aktif{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 60%;
}
.menu.aktif .nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.menu.aktif .nav ul li a{
    padding: 0 4px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s;
}
.menu.aktif .nav ul li a:hover{
    transition: all .2s;
    font-size: 20px;
    color : #ec700a;
    border: #ec700a solid 2px;
}

.btn.aktif{
    z-index: 1;
    position: fixed;
    margin-left: 84%;
    width: 300px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 3px;
}
.btn.aktif line{
    z-index: 1;
    background-color: white;
    margin-left: 80px;
    width: 30px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 3px;
}

    /* ==================
        inner area
    ================== */
.inner{
    background-size: cover;
    background-image: url('pic/bg2.jpeg');
    background-color: #c06014;
    width: 70%;
    height: 60vh;
    margin: 50px 0 0 15%;
    border-radius: 10px;
    box-shadow: inset 0 8px 60px rgb(69, 85, 127),
    inset 0 8px 8px  rgb(72, 89, 133),
    inset 0 -4px 4px rgb(79, 97, 143);
}

/* ======================== */
         /* about */
.about{
    transition: all .5s;
    padding: 100px 0;
    color: #000000;

}
.isi{
    /* border-top: #000000 solid 5px; */
    padding-top: 20px;
    text-align: left;
    margin-top: 30px;
    margin-left:10%;
    color: #000000;
    max-width: 80%;

}



/* ====================================
             FEEDBACK
==================================== */
.fnf{
    /* background-color: #c06014; */
    width: 100%;
    height: 1000px;
    text-align: center;
}
.kotak{
    display: flex;
    width: 100%;
    height: auto;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.kiri{
    background-image: url(pic/pengaju.jpg);
    background-size: cover;
    margin: 50px 0;
    width: 500px;
    height: 50vh;

}
.kanan{
    background-image: url(pic/pt3.png);
    background-size: cover;
    margin: 50px 0;
    width: 500px;
    height: 50vh;
}
.kiri,.kanan{
    border-radius: 30px;
}
.kiri ul,.kanan ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.kiri ul li{
    padding: 30px;
    color: white;
    background-color: #536162;
    border-radius: 10px
}

.isi-kiri,.isi-kanan{
    margin-top: 300px;
}
.kanan ul li{
    padding: 30px;
    color: white;
    background-color: #c06014;
    border-radius: 10px
}

/* 
=================
     masukan
================= */
.kritik{
    /* background-color: #c06014; */
    top: 100vh;
    width: 80%;
    height: 70vh;
    margin: 100px 0 0 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.isi-masukan{
    margin-left: 5%;
}
.masukan{
    /* background-color: #414642; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 20px;
}
input.in{
    margin-top: 50px;
    width: 500px;
    height: 20vh;
    border-radius:5px;
    padding-left: 10px;
    padding-right: 10px;
    border: #424242 solid 3px;
    background-color: #ebebeb;
}
input::placeholder{   
    position: relative;
    text-align: center;
    color: #474747;
    top: 10px;
    font-size: 30px;
}
input.sub{
    margin-bottom: 15px;
    padding: 10px;
    border: #000000 solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

input.sub:hover{
    font-size: 13px;
    background-color: #ec700a;
    border: #010101 solid 2px;
    border-radius: 5px;
}
/* ===============================
            footer
=============================== */
footer{
    background-color: #414642;
    width: 100%;
    height: 20vh;
}